<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floristerías Eva Bodas</title>
    <link rel="stylesheet" href="../Css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="icon" href="./../assets/favicon/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <h1>Foristerías Eva</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./../index.html">Inicio</a></li>
            <li><a class="ain" href="#">Bodas</a></li>
            <li><a href="./funerales.html">Funerales</a></li>
            <li><a href="./galeria.html">Galeria</a></li>
            <li><a href="./presupuestos.html">Presupuestos</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main class="mainbodas">
        <section class="secbo1">
            <h2>Arreglos florales</h2>
            <p>Centros de mesa, Arreglos de diferente tamaño adecuados para salones, iglesias, 
                jardines. En nuestras floristerías elegimos adecuadamente las flores ideales 
                para cada lugar, nuestros profesionales examinarán cuidadosamente los lugares
                y el mobiliario  del lugar y prepararán una decoración personalizada y con un 
                resultado profesional. Haremos que tu boda sea de ensueño y nuestras decoraciones
                cautiven a todos los invitados </p>
        </section>
        <section class="secbo2">
            <img src="../assets/images/bodaspictures/restaurant-7598663_1280.jpg" alt="arreglo floral para boda" class="noviapic">
        </section>
        <section class="secbo3">
            <h2>Ramos de novia</h2>
            <p>Para el día más especial de tu vida, confía en nuestros floristas. Aseguraremos una
                atencion personalizada y un trato cercano. Te ayudaremos a elegir el ramo de novia
                que más se adapte a tu estilo y personalidad. Te asesoraremos sobre los colores,
                las flores y el diseño más acorde a tu vestido y a la decoración de la boda.
                Nuestros ramos de novia son únicos y personalizados, elaborados con flores frescas
                y de alta calidad. Nos aseguraremos de que tu ramo sea una obra de arte que complemente
                tu look y que te haga sentir especial en tu gran día. </p>
            </p>
        </section>
        <section class="secbo4">
            <img src="../assets/images/bodaspictures/ramo-de-novia-en-manos-de-la-novia.jpg" alt="ramo y zapatos de novia" class="noviapic2">

        </section>
        <section class="secbo5">
            <h2>Precios</h2>
            <table >
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ramo de novia</td>
                    <td>35€</td>
                  </tr>
                  <tr>
                    <td>Arreglos grandes</td>
                    <td>70€</td>
                  </tr>
                  <tr>
                    <td>Arreglos pequeños</td>
                    <td>30€</td>
                  </tr>
                  <tr>
                    <td>Centros de mesa</td>
                    <td>15€</td>
                  </tr>
                </tbody>
              </table>
              
        </section>
        
    </main>
    <footer>
        <h2 class="redesso">Redes Sociales</h2>
        <p>Síguenos en nuestras redes sociales para estar al tanto de nuestras novedades y promociones.</p>
        <ul class="socialmedia">
            <li><a href="#">Facebook:floristeriaseva.facebook.com</a></li>
            <li><a href="#">Instagram:floristeriaseva.instagram.com</a></li>
            <li><a href="#">LinkedIn:floristeriaseva.linkedin.com</a></li>
            <li><a href="#">Pinterest:floristeriaseva.pinterest.com</a></li>
          
        </ul>

        <div class="social-icons">
            <a href="https://facebook.com" target="_blank">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg" alt="Facebook" width="30" height="30">
            </a>
            <a href="https://instagram.com" target="_blank">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/instagram.svg" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://linkedin.com" target="_blank">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn" width="30" height="30">
            </a>
            <a href="https://pinterest.com" target="_blank">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/pinterest.svg" alt="Pinterest" width="30" height="30">
            </a>
        </div>
        
        <p class="pie">&copy; 2025 Floristerías Eva</p>
        <a class="faviconlink" href="https://www.flaticon.com/free-icons/flower" title="flower icons">Flower icons created by bqlqn - Flaticon</a>
    </footer>

    
</body>
</html>