<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floristerías Eva Contacto</title>
  <link rel="stylesheet" href="../Css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="icon" href="./../assets/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
        <h1>Foristerías Eva</h1>
  </header>
  <nav>
    <ul>
      <li><a href="./../index.html">Inicio</a></li>
      <li><a href="./bodas.html">Bodas</a></li>
      <li><a href="./funerales.html">Funerales</a></li>
      <li><a href="./galeria.html">Galeria</a></li>
      <li><a href="./presupuestos.html">Presupuestos</a></li>
      <li><a class="ain" href="#">Contacto</a></li>
    </ul>
  </nav>
  <main>
    <section class="secmap">
      <h2>Solicite más información</h2>
      <h2>Encuentra tu tienda</h2>
      <img src="../assets/images/Map.jpg" alt="mapa de la tienda" class="mapa"
      width="1312" height="676">
    </section>
    <section class="infocontacto">
      <h2>Información de contacto</h2>
      <p>Teléfono: 965443322</p>
      <p>Email:floristeriaseva@gmail.com></p>
      <p>Dirección: C/ Av de la Libertad 23, Elche;</p>
      <p>Horario: Lunes a Viernes de 9:00 a 18:00</p>
    </section>
  </main>
  <footer>
    <h2 class="redesso">Redes Sociales</h2>
    <p>Síguenos en nuestras redes sociales para estar al tanto de nuestras novedades y promociones.</p>
    <ul class="socialmedia">
      <li><a href="#">Facebook:floristeriaseva.facebook.com</a></li>
      <li><a href="#">Instagram:floristeriaseva.instagram.com</a></li>
      <li><a href="#">LinkedIn:floristeriaseva.linkedin.com</a></li>
      <li><a href="#">Pinterest:floristeriaseva.pinterest.com</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg" alt="Facebook" width="30" height="30">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/instagram.svg" alt="Instagram" width="30" height="30">
      </a>
      <a href="https://linkedin.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn" width="30" height="30">
      </a>
      <a href="https://pinterest.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/pinterest.svg" alt="Pinterest" width="30" height="30">
      </a>
    </div>
      <p class="pie">&copy; 2025 Floristerías Eva</p>
      <a class="faviconlink" href="https://www.flaticon.com/free-icons/flower" title="flower icons">Flower icons created by bqlqn - Flaticon</a>
  </footer>
</body>
</html>